 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
 
 * { 
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
 }

body {
     font-family: 'Comfortaa', cursive;
     background-color: #f7f7f7;
     overflow-x: hidden;
     /*overflow commit to left*/

}

.container {

}
form {
    border: 2px solid rgb(192, 192, 192);
}
h2 {
    color: #40b3a6;
}
input {
        border-radius: 5px;

}
input::placeholder {
    color: #40b3a6;
}

input.btn-primary {
    background-color: #40b3a6;
    border: none;
    border-radius: 5px;
    width: 510px;
    margin-left: -4%;
    
}

input.btn-primary:hover {
    background-color: pink;
    color: #40b3a6;
}